#{extends 'main.html' /}
#{set title:'Playground!' /}

<h2>The Playground!</h2>

<br/>
<div id="messages">


</div>
<hr/>
<input id="text" type="text" value=""/><input id="send" type="submit" value="send"/>

<script>
var socket = new WebSocket("@@{Application.Chatroom.join(user)}");
socket.onmessage = function(event) {
	var parts = /^([^:]+):(.*)?$/.exec(event.data)
	$("#messages").append("<li class='message'><b>" + parts[1] + "</b>: <span style='padding-left:12pt'>" + parts[2] + "</span>"); 
};

$("#send").click(function() {
	socket.send($("#text").val());
	$("#text").val(""); 
});


</script>

